/* Global styles of the platform administration application. */
@use '@angular/material' as mat;
@use 'material-symbols/outlined.css';

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.dense-1 {
  @include mat.all-component-densities(-1);
}

.dense-2 {
  @include mat.all-component-densities(-2);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0px;
}
