<div>
  <ng-container *transloco="let t; prefix: 'home'">
    <span style="font-family: cursive; font-size: large; text-align: center; padding-bottom: 20px"><em>{{ t('introduction') }}</em></span>
    <div [ngClass]="layoutService.layoutClass()">
      <mat-card class="floating-card">
        <mat-card-header>
          <mat-card-title>Utils - &#64;processpuzzle/util</mat-card-title>
          <mat-card-subtitle>{{ t('utils_card_subtitle') }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>{{ t('utils_card_content') }}
            <ul>
              <li>{{ t('utils_card_content_1') }}</li>
              <li>{{ t('utils_card_content_2') }}</li>
              <li>{{ t('utils_card_content_3') }}</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-actions routerLink="/util">
          <button mat-flat-button>{{t('utils_card_button')}}</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="floating-card">
        <mat-card-header>
          <mat-card-title>Test Utils - &#64;processpuzzle/test-util</mat-card-title>
          <mat-card-subtitle>{{ t('utils_card_subtitle') }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>{{ t('test-utils_card_content') }}
            <ul>
              <li>{{ t('test-utils_card_content_1') }}</li>
              <li>{{ t('test-utils_card_content_2') }}</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-actions routerLink="/test-util">
          <button mat-flat-button>{{t('test-utils_card_button')}}</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="floating-card">
        <mat-card-header>
          <mat-card-title>Widgets - &#64;processpuzzle/widgets</mat-card-title>
          <mat-card-subtitle>{{t('widgets_card_subtitle')}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>{{t('widgets_card_content')}}
            <ul>
              <li>{{t('widgets_card_content_1')}}</li>
              <li>{{t('widgets_card_content_2')}}</li>
              <li>{{t('widgets_card_content_3')}}</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-actions routerLink="/widgets">
          <button mat-flat-button>{{t('widgets_card_button')}}</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="floating-card">
        <mat-card-header>
          <mat-card-title>Authentication - &#64;processpuzzle/auth</mat-card-title>
          <mat-card-subtitle>{{t('auth_card_subtitle')}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>{{t('auth_card_content')}}
            <ul>
              <li>{{t('auth_card_content_1')}}</li>
              <li>{{t('auth_card_content_2')}}</li>
              <li>{{t('auth_card_content_3')}}</li>
              <li>{{t('auth_card_content_4')}}</li>
              <li>{{t('auth_card_content_5')}}</li>
              <li>{{t('auth_card_content_6')}}</li>
              <li>{{t('auth_card_content_7')}}</li>
            </ul>
          </div>
        </mat-card-content>
        <mat-card-actions routerLink="/auth">
          <button mat-flat-button>{{t('auth_card_button')}}</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="floating-card">
        <mat-card-header>
          <mat-card-title>Base Entity - &#64;processpuzzle/base-entity</mat-card-title>
          <mat-card-subtitle>{{t('base-entity_card_subtitle')}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{t('base-entity_card_content')}}</p>
          <ul>
            <li>{{ t('base-entity_card_content_1') }}</li>
            <li>{{ t('base-entity_card_content_2') }}</li>
            <li>{{ t('base-entity_card_content_3') }}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions routerLink="/base-entity">
          <button mat-flat-button>{{t('base-entity_card_button')}}</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="floating-card">
        <mat-card-header>
          <mat-card-title>Continuous Delivery</mat-card-title>
          <mat-card-subtitle>{{t('ci-cd_card_subtitle')}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{t('ci-cd_card_content')}}</p>
          <ul>
            <li>{{ t('ci-cd_card_content_1') }}</li>
            <li>{{ t('ci-cd_card_content_2') }}</li>
            <li>{{ t('ci-cd_card_content_3') }}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions routerLink="/ci-cd">
          <button mat-flat-button>{{t('ci-cd_card_button')}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
