<div>
  <mat-card class="floating-card">
    <mat-card-header>
      <mat-card-title>Basis Formulare</mat-card-title>
      <mat-card-subtitle>Basis Klassen für Reactive Forms und Material Tabellen</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Erleichtert die Erstellung von Forms und Tabellen mit eingebaute Unterstützung für alle übliche Funktionalität.
        Verbindung zum Datenquelle, State Management, automatische Daten aktualisierung, paging usw.
      </p>
    </mat-card-content>
    <mat-card-actions routerLink="/base-forms">
      <button mat-flat-button>Siehe Basis Formulare...</button>
    </mat-card-actions>
  </mat-card>
</div>
